.start-container {
    display: flex;
    height: 70vh;
    position: relative;
    left: 8.5%;
    top: 15%;
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    
}
.start-container-p {
    color: #b4c1c9;
    position: absolute;
    left: 7.5%;
    top: 45%;
    text-align: left;
    font-size: 100%;
}
.welcome {
    color: #ffffff;
    position: absolute;
    left: 8%;
    top: 35%;
    font-size: 100%;
}
.line {
    border-top: #33fe87 10px solid;
    width: 12vh;
    position: relative;
    left: 8%;
    top: 42%;
    border-radius: 10px;
}
.start-boxOne {
    width: 30%;
    position: relative;
    text-align: center;
    background-color: #06304a;
    border-radius: .5rem 0 0 .5rem ;
    box-shadow: 0 0 20px #A6A6A6;
}
.start-card.card-container {
    width: 50%;
    padding: 10px;
    position: relative;
    background-color: #e6eaed;
    border-radius: 0 .5rem .5rem 0 ;
    box-shadow: .5rem 0 .5rem .0rem  #A6A6A6;
}
.container-p {
    color: #b4c1c9;
    position: absolute;
    left: 7.5%;
    top: 45%;
    text-align: left;
    font-size: 100%;
}
.welcome {
    color: #ffffff;
    position: absolute;
    left: 8%;
    top: 35%;
    font-size: 100%;
}
.line {
    border-top: #33fe87 10px solid;
    width: 12vh;
    position: relative;
    left: 8%;
    top: 42%;
    border-radius: 10px;
}
.form-group{
    display: block;
    position: relative;
    left: 18.5%;
    top: 20vh;
    margin-left: center;
    margin-right: auto;
    padding: 8px 4px 8px 10px;
    width: 60%;
    outline: none;
}

.btn.btn-primary.btn-block {
    width: 60%;
    height: 5vh;
    background-color: #33fe87;
    border-radius: 3px;
    position: relative;
    left: 20.5%;
    border: none;
}

.btn.btn-primary.btn-block {
    background-color: #30E98F;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity:1
    }
  }